[Unit]
Description=OpenStack Neutron OVSvApp Agent
After=syslog.target network.target network.service
PartOf=network.service

[Service]
Type=simple
User=neutron
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/lock/neutron /var/log/neutron /var/lib/neutron
ExecStartPre=/bin/chown neutron:neutron /var/lock/neutron /var/log/neutron /var/lib/neutron
ExecStart=/usr/bin/neutron-dvs-agent --config-file /etc/neutron/neutron.conf  --config-file /etc/neutron/ml2_conf_vmware_dvs.ini --log-file /var/log/neutron/dvs-agent.log
PrivateTmp=true
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target

