# {{ ansible_managed }}

server {{ ntp_server }} iburst
restrict default nomodify notrap nopeer noquery
restrict 127.0.0.1
restrict ::1
keys /etc/ntp.keys
trustedkey 1
requestkey 1
controlkey 1
driftfile /var/lib/ntp/drift/ntp.drift
logfile /var/log/ntp
