[DEFAULT]
host = {{ inventory_hostname_short }}

[agent]
report_interval = 5

[ml2_vmware]
# Hostname or IP address of vmware vcenter server
# vsphere_hostname=<hostname or ip of vcenter>
vsphere_hostname = {{ vcenter_host }}

# Login and password of vcenter server
# vsphere_login=<admin login of vcenter>
# vsphere_password=<password of vcenter>
vsphere_login = {{ vcenter_user }}
vsphere_password = {{ vcenter_password }}

# The mappings between physical networks and dvs
# network_maps = physnet1:dvSwitch,physnet2:dvSwitch1
network_maps = data:dvData

# sleep time in seconds for polling an on-going async task as part of the
# API cal
# task_poll_interval=5.0

# number of times an API must be retried upon session/connection related errors
# api_retry_count=10

insecure = true

[securitygroup]
# Controls if neutron security group is enabled or not.
# It should be false when you use nova security group.
# enable_security_group = True
enable_security_group = false

# Use ipset to speed-up the iptables security groups. Enabling ipset support
# requires that ipset is installed on L2 agent node.
# enable_ipset = True
# firewall_driver=neutron.agent.linux.iptables_firewall.OVSHybridIptablesFirewallDriver
#firewall_driver = mech_vmware_dvs.agentDVS.vCenter_firewall.vCenterFirewallDriver
