# {{ ansible_managed }}

deb http://{{ apt_cache_server }}:{{ apt_cache_port }}/deb.theforeman.org/ xenial stable
deb http://{{ apt_cache_server }}:{{ apt_cache_port }}/deb.theforeman.org/ plugins stable
