# {{ ansible_managed }}

deb http://{{ apt_cache_server }}:{{ apt_cache_port }}/ubuntu-cloud.archive.canonical.com/ubuntu/ xenial-updates/newton main
deb http://{{ apt_cache_server }}:{{ apt_cache_port }}/ubuntu-cloud.archive.canonical.com/ubuntu/ xenial-proposed/newton main
